a {
	color: #809C2E !important;
}
.menu-content {
	background-color: #343a40 !important;
}
.menu-content .ixfdRO {
	color: #fff;
}
.iJUwRU {
	background-color: #7B2A47;
}
.bRFgPh .bwNGAy, .kVweLN, .diqfaT p {
	color: #fff !important;
}

.kmipUx {
	background-color: #7B2A47;
}

.fSEbYg:hover {
	background-color: #7B2A47;	
}

.kXBEML {
	background-color: #7B2A47 !important;
}

.eoxkJU {
	background-color: #809C2E !important;
	color: #7B2A47 !important;
	border: 1px solid #809C2E !important;
	border-radius: .3rem !important;
}
.kmvDqY {
	display: none !important;
}
.gtqIqk {
	color: #fff !important;
}

.security-details tr {
	background-color: #000 !important;
}
.bZzFwo {
	color: #fff !important;
}
.bwNGAy p {
	color: #000 !important;
}

.active {
	background-color: #7B2A47 !important;
}

.kVweLN {
    color: #fff !important;
}
.dyBbHm p {
	color: rgb(0, 0, 0) !important;
}